<div id="<%= dom_id service %>">
  <div>
    <strong>Title:</strong>
    <%= service.title %>
  </div>

  <div>
    <strong>Summary:</strong>
    <%= service.summary %>
  </div>

  <div>
    <strong>Content:</strong>
    <%= service.content %>
  </div>

  <div>
    <strong>Slug:</strong>
    <%= service.slug %>
  </div>

</div>
