<div id="<%= dom_id service %>">
  <% if service.image_filename.present? %>
    <div>
      <%= image_tag service.image_filename, class: "img-fluid mb-3" %>
    </div>
  <% end %>
  
  <div>
    <strong>Title:</strong>
    <%= service.title %>
  </div>

  <div>
    <strong>Summary:</strong>
    <%= service.summary %>
  </div>

  <div>
    <strong>Content:</strong>
    <%= service.content %>
  </div>

  <div>
    <strong>Slug:</strong>
    <%= service.slug %>
  </div>

</div>
