<p style="color: green"><%= notice %></p>

<%= render @service %>

<div>
  <% if can? :edit, @service %>
    <%= link_to "Edit this service", edit_service_path(@service) %> |
  <% end %>

  <%= link_to "Back to services", services_path %>

  <% if can? :destroy, @service %>
    <%= button_to "Destroy this service", @service, method: :delete %>
  <% end %>
</div>
