<div id="<%= dom_id blog %>">
  <% if blog.image_filename.present? %>
    <div>
      <%= image_tag blog.image_filename, class: "img-fluid mb-3" %>
    </div>
  <% end %>

  <div>
    <strong>Title:</strong>
    <%= blog.title %>
  </div>

  <div>
    <strong>Headingone:</strong>
    <%= blog.headingone %>
  </div>

  <div>
    <strong>Bodyone:</strong>
    <%= blog.bodyone %>
  </div>

  <div>
    <strong>Headingtwo:</strong>
    <%= blog.headingtwo %>
  </div>

  <div>
    <strong>Bodytwo:</strong>
    <%= blog.bodytwo %>
  </div>

  <div>
    <strong>Headingthree:</strong>
    <%= blog.headingthree %>
  </div>

  <div>
    <strong>Bodythree:</strong>
    <%= blog.bodythree %>
  </div>

  <div>
    <strong>Published at:</strong>
    <%= blog.published_at %>
  </div>

  <div>
    <strong>Slug:</strong>
    <%= blog.slug %>
  </div>

</div>