<div id="<%= dom_id project %>">
  <div>
    <strong>Title:</strong>
    <%= project.title %>
  </div>

  <div>
    <strong>Customer:</strong>
    <%= project.customer %>
  </div>

  <div>
    <strong>Description:</strong>
    <%= project.description %>
  </div>

  <div>
    <strong>Project data:</strong>
    <%= project.project_data %>
  </div>

  <div>
    <strong>Service:</strong>
    <%= project.service_id %>
  </div>

</div>
