<%# locals: (record:, title:, subtitle: nil, body: nil, image: nil) %>
<div class="card mb-3">
  <h3 class="card-header"><%= title %></h3>
  <% if image.present? %>
    <%= image_tag image, class: "card-img-top" %>
  <% end %>

  <div class="card-body">

    <% if body.present? %>
      <p class="card-text fs-5"><%= body %></p>
    <% end %>

    <%= link_to "Click here for details...", polymorphic_path(record), class: "btn btn-primary w-100" %>

    <div class="d-flex gap-3 align-items-center">
      <% if can? :edit, record %>
        <%= link_to "Edit", edit_polymorphic_path(record), class: "card-link" %>
      <% end %>

      <% if can? :destroy, record %>
        <%= link_to "Delete", record, class: "card-link",
              data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
      <% end %>
    </div>
  </div>
</div>